DATABASE_URL="postgresql://postgres:password@localhost:5432/node_auth"
JWT_ACCESS_SECRET="0e7e534e-3891-40fc-41af-7b294bd7f16c"
JWT_REFRESH_SECRET="eaa65921-931b-4e4d-8ce4-1acb5229edb5"
CLIENT_URL="http://localhost:5173"
PORT=3000

# Email configuration (Gmail)
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password" 